Source: cadaver
Section: non-US/main/web
Priority: optional
Maintainer: Bernd Eckenfels <ecki@debian.org>
Build-Depends: libncurses5-dev, libxml-dev, libreadline4-dev (>=4.1), zlib1g-dev (>= 1:1.1.3), libssl-dev,libxmltok1-dev,libexpat1-dev,debmake
Standards-Version: 3.1.1

Package: cadaver
Architecture: any
Depends: ${shlibs:Depends}
Description: command-line client for WebDAV server
 Useful for WebDAV server testing and scripting. Works like command line FTP
 clients. This Version supports HTTPS, including Client Site Certificates.
 . 
 Briefly: WebDAV stands for "Web-based Distributed Authoring and Versioning".
 It is a set of extensions to the HTTP protocol which allows users to
 collaboratively edit and manage files on remote web servers. 
