/configure
/config.log
/config.status
/config.h
/config.h.in
/ltmain.sh
/autom4te.cache
/Makefile
/cadaver
/po/Makefile
/po/Makefile.in
/po/POTFILES
/m4/libtool.m4
/m4/lt*.m4
/aclocal.m4
/clog
/po/stamp-po
/po/en@quot.insert-header
