name: Build and test

on: [pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-22.04, ubuntu-24.04-arm]
        install: [true, false]
        bundled: [true, false]
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - run: |
         if ${{matrix.bundled}}; then
            sudo apt-get update && sudo apt-get -y install gettext
         else
            sudo apt-get update && sudo apt-get -y install libneon27-dev gettext
         fi
    - run: if ${{matrix.install}}; then bash -ex ./.release.sh; fi
    - run: ./autogen.sh
    - run: |
        if ${{matrix.bundled}}; then
          ./configure --prefix=/tmp/cadaver-root --with-included-neon --with-ssl
        else
          ./configure --prefix=/tmp/cadaver-root
        fi
    - run: make
    - run: if ${{matrix.install}}; then make install; fi
